.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logout-button {
  background-color: #9b2bcf;
  position: absolute;
  top: 10px;
  right: 55px;
  color: rgb(240, 253, 255);
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0px;
  border-radius: 50px;
  font-family: Arial;
  height: 25px;
  width: 90px;
  cursor: pointer;
}